<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rez de chaussée</title>
    <style>
      header {
        display: flex;
        flex-direction: column; /* Aligne verticalement */
        align-items: left; /* Centre horizontalement */
        text-align: center;
        margin: 20px;
      }

      header svg {
        margin: 20px 0; /* Espace autour du dessin */
      }

      header a {
        text-decoration: none;
        color: blue;
        margin-top: 10px;
      }

      body {
        font-family: sans-serif;
      }
      .radiateur {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
        text-align: center;
        display: inline-block;
      }

      .piece {
        font-weight: bold;
        text-align: center;
        fill: black;
        cursor: pointer;
        font-size: 12px;
      }

      /* Fenêtre modale*/
      .modal {
        display: none;
        position: fixed;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }
      .modal-content {
        background: #fff;
        margin: 10% auto;
        padding: 20px;
        width: 300px;
        border-radius: 8px;
        text-align: center;
      }
      /* Empiler les boutons verticalement */
      .button-column {
        margin-top: 40px;
        display: flex;
        flex-direction: column; /* empile verticalement */
        gap: 10px;              /* espace entre les boutons */
      } 

      /* Empiler les items horizontalement */
      .items-row{
        text-align: left;
        display: flex;
        flex-direction: row; /* empile horizontalement */
        gap: 10px;              /* espace entre les items*/
      } 
      
      /* Empiler les items verticalement */
      .groups-column{
        text-align: left;
        display: flex;
        flex-direction: column; /* empile verticalement */
        gap: 20px;              /* espace entre les items*/
      } 
      
      /* Empiler les items times verticalement */
      .times-column{
        text-align: left;
        display: flex;
        flex-direction: column; /* empile verticalement */
        gap: 10px;              /* espace entre les items*/
      } 

      #mode-combo {
        width: 100px;
        padding: 8px;
        margin-top: 8px;
      }

      /* sélection par ID */
      #h-combo, #m-combo {
        width: 60px;
      } 

      .close {
        color: red;
        float: right;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Rez de chaussée</h1>

      <!-- plan du rez de chaussee -->
      <svg width="600" height="600">
        <!-- murs extérieurs -->
        <line
          x1="50"
          y1="550"
          x2="550"
          y2="550"
          stroke="black"
          stroke-width="4"
        />
        <!-- devant -->
        <line
          x1="50"
          y1="200"
          x2="50"
          y2="550"
          stroke="black"
          stroke-width="4"
        />
        <!-- gauche -->
        <line
          x1="550"
          y1="50"
          x2="550"
          y2="550"
          stroke="black"
          stroke-width="4"
        />
        <!-- droit -->
        <line
          x1="50"
          y1="200"
          x2="275"
          y2="200"
          stroke="black"
          stroke-width="4"
        />
        <!-- jardin salle -->
        <line
          x1="275"
          y1="50"
          x2="275"
          y2="200"
          stroke="black"
          stroke-width="4"
        />
        <!-- renfoncement salon -->
        <line
          x1="275"
          y1="50"
          x2="550"
          y2="50"
          stroke="black"
          stroke-width="4"
        />
        <!-- jardin chambre -->

        <!-- cloisons garage -->
        <line
          x1="325"
          y1="375"
          x2="325"
          y2="550"
          stroke="black"
          stroke-width="2"
        />
        <!-- vertical -->
        <line
          x1="325"
          y1="375"
          x2="550"
          y2="375"
          stroke="black"
          stroke-width="2"
        />
        <!-- horizontal -->
        <!-- cloisons salle de bain / chambre-->
        <line
          x1="425"
          y1="300"
          x2="425"
          y2="375"
          stroke="black"
          stroke-width="2"
        />
        <!-- vertical -->
        <line
          x1="375"
          y1="300"
          x2="550"
          y2="300"
          stroke="black"
          stroke-width="2"
        />
        <!-- horizontal -->
        <line
          x1="375"
          y1="50"
          x2="375"
          y2="300"
          stroke="black"
          stroke-width="2"
        />
        <!-- vertical -->
        <!-- cloisons cuisine -->
        <line
          x1="250"
          y1="400"
          x2="250"
          y2="550"
          stroke="black"
          stroke-width="2"
        />
        <!-- vertical -->
        <line
          x1="50"
          y1="400"
          x2="250"
          y2="400"
          stroke="black"
          stroke-width="2"
        />
        <!-- horizontal -->

        <!-- Noms des pièces -->
        {% for p in pieces %}
        <text 
          class="piece"
          id="{{ p.id }}"
          x="{{ p.x }}" 
          y="{{ p.y }}">{{ p.nom }}</text> 

        {% endfor %}

        <!-- radiateurs -->
        {% for r in radiateurs %}
        <rect
          class="radiateur"
          id="{{ r.id }}"
          nom="{{ r.nom }}"
          data-nom="{{ r.nom }}"
          data-state="{{ r.state }}"
          data-nom_state =""
          data-groupe="{{ r.groupe}}"
          data-forceheure="{{r.timeforce.heure}}"
          data-forceminute="{{r.timeforce.minute}}"
          data-schedule="{{ r.schedule }}"
          x="{{ r.x }}"
          y="{{ r.y }}"
          width="{{ r.width }}"
          height="{{ r.height }}"
          rx="3"
        />
        {% endfor %}
      </svg>


      <!-- Fenêtre modale main radiateur-->
      <div id="MainRadiateurModal" class="modal">
        <div class="modal-content">
          <span class="close" id="closeModal_RadiateurMain">&times;</span>
          <h2 id="MainNomRadiateur"></h2>
          <p>Etat actuel : <span id="MainStateRadiateur"></span></p>
          <div class="button-column">
            <button id="modify_radiateur_req">Modifier une fois</button>
            <button id="config_radiateur_req">Configurer</button>
          </div>
        </div>
      </div>


      <!-- Fenêtre modale main piece-->
      <div id="MainPieceModal" class="modal">
        <div class="modal-content">
          <span class="close" id="closeModal_PieceMain">&times;</span>
          <h2 id="MainNomPiece"></h2>
          <p>Etat actuel : <span id="MainStatePiece"></span></p>
          <div class="button-column">
            <button id="modify_piece_req">Modifier une fois</button>
            <button id="config_piece_req">Configurer</button>
          </div>
        </div>
      </div>


      <!-- Fenêtre modale Modifier radiateur-->
      <div id="ModifRadiateurModal" class="modal">
        <div class="modal-content">
          <span class="close" id="closeModal_RadiateurModif">&times;</span>
          <h2 id="ModifNomRadiateur"></h2>
          <p>Etat actuel : <span id="ModifStateRadiateur"></span></p>
          <div class="groups-column">
            <div class="items-row">
              <label>Nouveau mode :</label>
              <!-- Combobox pour les états-->
              <select id="mode-Combo-rad">
                <!-- Options ajoutées dynamiquement en JS -->
              </select>
            </div>
            <div class="times-column">
              <label for="duree-select">Selection de la durée :</label>
              <div class="items-row">
                <label>Heures :</label>
                <select id="h-combo-rad">
                  <!-- Options ajoutées dynamiquement en JS -->
                </select>

                <label>Minutes :</label>
                <select id="m-combo-rad">
                  <!-- Options ajoutées dynamiquement en JS -->
                </select>
              </div>
            </div>
          </div>

          <div class="button-column">
            <button id="Apply_modif_radiateur_req">Modifier</button>
          </div>
        </div>
      </div>


      <!-- Fenêtre modale Modifier piece-->
      <div id="ModifPieceModal" class="modal">
        <div class="modal-content">
          <span class="close" id="closeModal_PieceModif">&times;</span>
          <h2 id="ModifNomPiece"></h2>
          <p>Etat actuel : <span id="ModifStatePiece"></span></p>
          <div class="groups-column">
            <div class="items-row">
              <label>Nouveau mode :</label>
              <!-- Combobox pour les états-->
              <select id="mode-Combo-piece">
                <!-- Options ajoutées dynamiquement en JS -->
              </select>
            </div>
            <div class="times-column">
              <label for="duree-select">Selection de la durée :</label>
              <div class="items-row">
                <label>Heures :</label>
                <select id="h-combo-piece">
                  <!-- Options ajoutées dynamiquement en JS -->
                </select>

                <label>Minutes :</label>
                <select id="m-combo-piece">
                  <!-- Options ajoutées dynamiquement en JS -->
                </select>
              </div>
            </div>
          </div>

          <div class="button-column">
            <button id="Apply_modif_piece_req">Modifier</button>
          </div>
        </div>
      </div>

      <!-- retour page précédente -->
      <a href="/">Home</a>


      <script>
        const MainRadiateurModal = document.getElementById("MainRadiateurModal");
        const MainPieceModal = document.getElementById("MainPieceModal");
        const ModifRadiateurModal = document.getElementById("ModifRadiateurModal");
        const ModifPieceModal = document.getElementById("ModifPieceModal");
        const MainNomRadiateur = document.getElementById("MainNomRadiateur");
        const MainNomPiece = document.getElementById("MainNomPiece");
        const ModifNomRadiateur = document.getElementById("ModifNomRadiateur");
        const ModifNomPiece = document.getElementById("ModifNomPiece");
        const MainStateRadiateur = document.getElementById("MainStateRadiateur");
        const MainStatePiece = document.getElementById("MainStatePiece");
        const ModifStateRadiateur = document.getElementById("ModifStateRadiateur");
        const ModifStatePiece = document.getElementById("ModifStatePiece");
        const modify_radiateur_req = document.getElementById("modify_radiateur_req");
        const config_radiateur_req = document.getElementById("config_radiateur_req");
        const apply_modif_radiateur_req = document.getElementById("Apply_modif_radiateur_req");
        const apply_modif_piece_req = document.getElementById("Apply_modif_piece_req");
        const ModeComboRad = document.getElementById("mode-Combo-rad");
        const HComboRad = document.getElementById("h-combo-rad");
        const MComboRad = document.getElementById("m-combo-rad");
        const ModeComboPiece = document.getElementById("mode-Combo-piece");
        const HComboPiece = document.getElementById("h-combo-piece");
        const MComboPiece = document.getElementById("m-combo-piece");
      
        let forceheure = 0;
        let forceminute = 0;
        let itempointer = null;

        // Dictionnaire de correspondance valeur → couleur
        const couleurs = {
          0: "black",
          1: "red",
          2: "yellow",
          3: "blue"
        };

        // Dictionnaire de correspondance valeur → nom de l'état
        const nom_state = {
          0: "Off",
          1: "Confort",
          2: "Eco",
          3: "Hors gel"
        };

        function ChangeRadiateurColor() {
          console.log("Changing radiateur colors...");
          // Boucle sur les rectangles SVG
          const items = document.querySelectorAll(".radiateur");
          console.log(`Found ${items.length} radiateurs.`);
          items.forEach((item) => {
            console.log(`radiateur ${item.id}: etat: ${item.dataset.state}`);
            const couleur = couleurs[ item.dataset.state] || "gray"; // défaut si valeur inconnue
            item.dataset.nom_state = nom_state[ item.dataset.state] || "Inconnu";
            item.setAttribute("fill", couleur);
          });
        };

        document.querySelectorAll(".radiateur").forEach((el) => {
          el.addEventListener("click", () => {
            MainNomRadiateur.textContent = el.dataset.nom;
            MainStateRadiateur.textContent = el.dataset.nom_state;
            forceheure = el.dataset.forceheure;
            forceminute = el.dataset.forceminute;
            itempointer = el;
            MainRadiateurModal.style.display = "block";
          });
        });

        document.querySelectorAll(".piece").forEach((el) => {
          el.addEventListener("click", () => {
            console.log(`piece ${el.textContent}`);
            const items = Array.from(document.querySelectorAll(".radiateur"));
            if(items.some((item) => {
              console.log(`radiateur ${item.id}: groupe: ${item.dataset.groupe}`);
              if(item.dataset.groupe === el.textContent.trim()){
                MainStatePiece.textContent = item.dataset.nom_state;
                forceheure = item.dataset.forceheure;
                forceminute = item.dataset.forceminute;
                return true; // arrêter la boucle some
              }
            }) === false){
              alert("Cette pièce n'est pas un groupe.");
            }
            else{
              MainNomPiece.textContent = el.textContent;
              itempointer = el;
              MainPieceModal.style.display = "block";
            }
          });
        });

        document.getElementById("closeModal_RadiateurMain").onclick = () => {
          MainRadiateurModal.style.display = "none";
        };

        document.getElementById("closeModal_PieceMain").onclick = () => {
          MainPieceModal.style.display = "none";
        };
        
        document.getElementById("closeModal_RadiateurModif").onclick = () => {
          ModifRadiateurModal.style.display = "none";
        };
        
        document.getElementById("closeModal_PieceModif").onclick = () => {
          ModifPieceModal.style.display = "none";
        };

        window.onclick = (event) => {
          if (event.target === MainRadiateurModal) MainRadiateurModal.style.display = "none";
          if (event.target === MainPieceModal) MainPieceModal.style.display = "none";
          if (event.target === ModifRadiateurModal) ModifRadiateurModal.style.display = "none";
          if (event.target === ModifPieceModal) ModifPieceModal.style.display = "none";
        };

        modify_radiateur_req.onclick = () => {
          MainRadiateurModal.style.display = "none";
          ModifNomRadiateur.textContent = MainNomRadiateur.textContent;
          ModifStateRadiateur.textContent = MainStateRadiateur.textContent;

          ModeComboRad.innerHTML = "";
          const ModeOptions = ["Off", "Confort", "Eco", "Hors gel"];
          ModeOptions.forEach(opt => {
            const optionElement = document.createElement("option");
            optionElement.value = ModeOptions.indexOf(opt);
            optionElement.textContent = opt;
            ModeComboRad.appendChild(optionElement);
          });
          // Définir la valeur initiale
          ModeComboRad.value = MainStateRadiateur.textContent === "Off" ? 0 :
                           MainStateRadiateur.textContent === "Confort" ? 1 :
                           MainStateRadiateur.textContent === "Eco" ? 2 :
                           MainStateRadiateur.textContent === "Hors gel" ? 3 : 0; 

          // Remplir les combobox heures
          HComboRad.innerHTML = "";
          const ForceHeureOptions = ["00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", 
            "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"];
          ForceHeureOptions.forEach(opt => {
            const optionElement = document.createElement("option");
            optionElement.value = ForceHeureOptions.indexOf(opt);
            optionElement.textContent = opt;
            HComboRad.appendChild(optionElement);
          });
          //definir la valeur initiale
          HComboRad.value = forceheure;

          // Remplir les combobox minutes
          MComboRad.innerHTML = "";
          const ForceMinuteOptions = ["00", "05", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55"];
          ForceMinuteOptions.forEach(opt => {
            const optionElement = document.createElement("option");
            optionElement.value = ForceMinuteOptions.indexOf(opt) * 5;
            optionElement.textContent = opt;
            MComboRad.appendChild(optionElement);
          });
          //definir la valeur initiale
          MComboRad.value = (forceminute /5) * 5;

          ModifRadiateurModal.style.display = "block";
        };

        modify_piece_req.onclick = () => {
          MainPieceModal.style.display = "none";
          ModifNomPiece.textContent = MainNomPiece.textContent;
          ModifStatePiece.textContent = MainStatePiece.textContent;

          ModeComboPiece.innerHTML = "";
          const ModeOptions = ["Off", "Confort", "Eco", "Hors gel"];
          ModeOptions.forEach(opt => {
            const optionElement = document.createElement("option");
            optionElement.value = ModeOptions.indexOf(opt);
            optionElement.textContent = opt;
            ModeComboPiece.appendChild(optionElement);
          });
          // Définir la valeur initiale
          ModeComboPiece.value = MainStatePiece.textContent === "Off" ? 0 :
                           MainStatePiece.textContent === "Confort" ? 1 :
                           MainStatePiece.textContent === "Eco" ? 2 :
                           MainStatePiece.textContent === "Hors gel" ? 3 : 0; 

          // Remplir les combobox heures
          HComboPiece.innerHTML = "";
          const ForceHeureOptions = ["00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", 
            "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"];
          ForceHeureOptions.forEach(opt => {
            const optionElement = document.createElement("option");
            optionElement.value = ForceHeureOptions.indexOf(opt);
            optionElement.textContent = opt;
            HComboPiece.appendChild(optionElement);
          });
          //definir la valeur initiale
          HComboPiece.value = forceheure;
          // Remplir les combobox minutes
          MComboPiece.innerHTML = "";
          const ForceMinuteOptions = ["00", "05", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55"];
          ForceMinuteOptions.forEach(opt => {
            const optionElement = document.createElement("option");
            optionElement.value = ForceMinuteOptions.indexOf(opt) * 5;
            optionElement.textContent = opt;
            MComboPiece.appendChild(optionElement);
          });
          //definir la valeur initiale
          MComboPiece.value = (forceminute /5) * 5;

          ModifPieceModal.style.display = "block";
        };

        config_radiateur_req.onclick = () => {
          alert("Fonction de configuration non encore implémentée.");
        };

        config_piece_req.onclick = () => {
          alert("Fonction de configuration non encore implémentée.");
        };

        apply_modif_radiateur_req.onclick = () => {
          if(((HComboRad.value != 0) || (MComboRad.value != 0)) &&
            (itempointer != null))
          {
            fetch(
              `/radiateur/${encodeURIComponent(itempointer.id)}/set-NewRadiateurState`,
              {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ 
                  state: parseInt(ModeComboRad.value),
                  forceheure: parseInt(HComboRad.value),
                  forceminute: parseInt(MComboRad.value)
                }),
              }
          )
            .then((res) => {
              if (!res.ok) throw new Error("Erreur réseau");
              return res.json().catch(() => ({}));
            })
            .then((data) => {

              if (itempointer) {
                itempointer.dataset.state = ModeComboRad.value;
                itempointer.dataset.forceheure = HComboRad.value;
                itempointer.dataset.forceminute = MComboRad.value;  
              }
              MainStateRadiateur.textContent = ModeComboRad.value;
              console.log(`État mis à jour : ${ModeComboRad.value}`);
              ModifRadiateurModal.style.display = "none";
              ChangeRadiateurColor();
            })
            .catch((err) => {
              console.error(err);
              alert("Échec de la mise à jour de l'état.");
            });
          }
          else{
            ModifRadiateurModal.style.display = "none";
            console.log("Pas de forcage.");
            return;
          }
        };

        apply_modif_piece_req.onclick = () => {
           if(((HComboPiece.value != 0) || (MComboPiece.value != 0)) &&
            (itempointer != null))
           {
            fetch(
              `/piece/${encodeURIComponent(itempointer.id)}/set-NewGroupeState`,
              {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ 
                  state: parseInt(ModeComboPiece.value),
                  forceheure: parseInt(HComboPiece.value),
                  forceminute: parseInt(MComboPiece.value)
                }),
              }
          )
            .then((res) => {
              if (!res.ok) throw new Error("Erreur réseau");
              return res.json().catch(() => ({}));
            })
            .then((data) => {
              const items = document.querySelectorAll(".radiateur");
              items.forEach((item) => {
                if(item.dataset.groupe === itempointer.textContent){
                  item.dataset.state = ModeComboPiece.value;
                  item.dataset.forceheure = HComboPiece.value;
                  item.dataset.forceminute = MComboPiece.value;  
                }
              });

              MainStatePiece.textContent = ModeComboPiece.value;
              console.log(`État mis à jour : ${ModeComboPiece.value}`);
              ModifPieceModal.style.display = "none";
              ChangeRadiateurColor();
            })
            .catch((err) => {
              console.error(err);
              alert("Échec de la mise à jour de l'état.");
            });
          }
          else{
            ModifPieceModal.style.display = "none";
            console.log("Pas de forcage.");
            return;
          }
        };

        ChangeRadiateurColor();
      </script>
    </header>
  </body>
</html>
